// ==========================================================================
// SETTINGS | Colors
// Variables concerning miscellaneous: colors...
// ==========================================================================

$color--primary: #fce2e1;
$color--primary--light: lavenderblush;
$color--secondary: #526a2d;

$color--gray-400:slategray;
$color--link:mediumpurple;


//implemintation 
$color--text:$color--gray-400;